# Node
node_modules/
npm-debug.log*

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/